/* Réinitialisation des styles pour assurer la cohérence entre les navigateurs */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style de base pour le corps de la page */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

/* Style pour l'en-tête */
header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

/* Style pour le titre de la page */
header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline-block;
    margin-right: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Style pour la section des services */
.services {
    max-width: 1200px;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Style pour chaque service */
.service {
    width: 300px;
    margin: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

/* Style pour le titre de chaque service */
.service h2 {
    font-size: 20px;
    padding: 10px;
    background-color: #333;
    color: #fff;
    margin: 0;
}

/* Style pour la description de chaque service */
.service p {
    padding: 10px;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}